.homepagelogo{
    margin-top: 30px;
    height: 58px;
    width: 58px;
}
.accpanel{
    margin-top: 25%;
    margin-bottom: -6%;
    height: 60px;
    width: 56px;
}
.accpanel2{
    margin-top: 25%;
    margin-bottom: -6%;
    height: 60px;
    width: 58px;
}
.accpanel3{
    margin-top: 8%;
    margin-bottom: -6%;
    height: 60px;
    width: 56px;
}
.accpanel4{
    margin-top:13%;
    margin-bottom: -6%;
    height: 50px;
    width: 62px;
}
.accpanel5{
    margin-top: 5%;
    margin-bottom: -6%;
    height: 60px;
    width: 59px;
}
.accpanel6{
    margin-top: 8%;
    margin-bottom: -6%;
    height: 60px;
    width: 56px;
    z-index:1;
}
.app{
    text-align: center;
}

.header{
    text-align: center;
}
ion-navbar{
    height: 71px;
    padding: 0px !important;
}
#header2{
    background-color:#70B3F4;
    width: 100%;
    height: 6px;
}
#header3{
    background-color:#83DE9F;
    width: 100%;
    height: 6px;
}
.bgdesign{
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}