#details{
    font-size: 13px;
}
#name{
    font-weight: bold;
}
#pillbox{
    border: 1px solid rgb(38, 42, 44); 
    background-color: #E0F5F7;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(145, 138, 138, 0.6);
}
#pillbox2{
    background-color: #E0F5F7;
    height: 50px;
}
#addmedbtn{
    margin-bottom: 30px;
    border-radius: 3px;
}
#delbtn{
    font-size: 18px;
    color: rgb(37, 34, 34);
}