page-userselection {

        #topButtons {
        
            display: flex;
            flex-direction: row;
            padding-top: 20px;
        
        }
        
        #topButtons button {
        
            flex: 1;
        }
        
        .displayed {
        
            padding-top: 100px;
        
        }
        
        
        

}
