<ion-header>
  <ion-navbar>
    <ion-title>Duration</ion-title>

    <ion-buttons end>
      <button ion-button (click)="openMedicine()">
        <h6>Set</h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding text-center>
  <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
  </ion-item>

  <br><br><br>

  <ion-list radio-group no-lines>
    <ion-item>
      <ion-label>No end date</ion-label>
      <ion-radio (click)="setradio('none')" checked="true"></ion-radio>
    </ion-item> 
  
    <ion-item>
      <ion-label>Until Date</ion-label>
      <ion-radio (click)="setradio('until')"></ion-radio>
    </ion-item>
  
    <ion-item>
      <ion-label>For X days</ion-label>
      <ion-radio (click)="setradio('fordays')"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="isSelected('until')">
    <ion-label>Until Date</ion-label>
    <ion-datetime></ion-datetime>
  </ion-item>

  <ion-item *ngIf="isSelected('fordays')">
      <ion-label>Duration</ion-label>
      <ion-input type="number"></ion-input>
  </ion-item>

	<br><br>
  
</ion-content>
